* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  color: #414141;
  width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.big-title-bar {
  height: 2px;
  width: 50px;
  background-color: #ec5242;
  border: #ec5242;
  border-radius: 25px;
  margin-bottom: 3rem;
}

.small-title-bar {
  height: 2px;
  width: 20px;
  background-color: #ec5242;
  border: #ec5242;
  border-radius: 25px;
  margin-bottom: 3rem;
}

/* --------------ABOUT PAGE-------------- */

/* ---------Mobile version-------------- */

.wrapper {
  background-image: url('../resources/360_F_355140486_LyyicONTn315Xs5nauDWCoL6n6ah2OxE.jpg');
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 99%;
}

/* Navigation */

.header {
  width: 95vw;
  margin-left: auto;
  margin-top: 1rem;
}

.menu-button-mobile {
  border: none;
  background: none;
  font-size: 3rem;
  cursor: pointer;
}

/*  Event brief */

.event-about {
  margin: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.event-about-title-main {
  color: #ec5242;
  font-size: 1.7rem;
}

.event-about-title-second {
  color: #ec5242;
  font-size: 3rem;
  font-weight: bold;
  line-height: 2.8rem;
  margin-bottom: 4rem;
}

.about-parag {
  font-size: 1.5rem;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  border: 1px solid #b39200;
  background-color: #ffaf014b;
}

.about-parag-contact {
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.email:link,
.email:visited {
  color: initial;
}

.email:hover,
.email:active {
  color: initial;
  text-decoration: none;
}

.company-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
}

.company-about-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #272a31;
}

.logo {
  border: 1px solid #b39200;
  background-color: #ffaf014b;
  margin: 0 1rem;
  width: 90%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.past-exhibition-title {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  color: #272a31;
}

.imgs-container-div {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.img-container-div {
  position: relative;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ec5342c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  cursor: pointer;
}

.layer h3 {
  color: #fff;
  font-size: 4rem;
}

.layer p {
  color: #fff;
  font-size: 2rem;
}

.past-exhib-img {
  width: 100%;
  height: auto;
}

/* Footer */

.opening-footer {
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.footer-title {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #d3d3d3;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.partner {
  font-size: 1.9rem;
  color: #d3d3d3;
}

.closing-footer {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #ffaf014b;
}

.closing-footer h3 {
  font-size: 1.4rem;
  margin-right: 1rem;
}

.logo-footer {
  max-height: 100%;
  margin-left: 1rem;
}
