* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  color: #414141;
  width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.big-title-bar {
  height: 2px;
  width: 50px;
  background-color: #ec5242;
  border: #ec5242;
  border-radius: 25px;
  margin-bottom: 3rem;
}

/* ------------HOME PAGE---------------- */

/* ---------Mobile version-------------- */

.wrapper {
  background-image: url('../resources/360_F_355140486_LyyicONTn315Xs5nauDWCoL6n6ah2OxE.jpg');
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Navigation */

.header {
  width: 95vw;
  margin-left: auto;
  margin-top: 1rem;
}

.menu-button-mobile {
  border: none;
  background: none;
  font-size: 3rem;
  cursor: pointer;
}

/*  Event brief */

.event-brif {
  width: 90vw;
  margin: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.event-title-main {
  color: #ec5242;
  font-size: 1.7rem;
}

.event-title-second {
  color: #ec5242;
  font-size: 3rem;
  font-weight: bold;
  line-height: 2.8rem;
  margin-bottom: 4rem;
}

.event-description {
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 3rem;
  border: 1px solid #b39200;
}

.event-date {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.event-location {
  font-size: 1.5rem;
}

/* Main Program */

.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0.5rem;
  color: #d3d3d3;
  background-color: #272a31;
}

.main-program-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  width: 97%;
  margin-bottom: 4rem;
}

.main-program-item {
  align-self: stretch;
  display: grid;
  grid-template-columns: 6rem 7.5rem 1fr;
  place-items: center;
  text-align: center;
  padding: 0.5rem;
  background-color: #3d3d3d;
}

.main-program-item h4 {
  color: #ec5242;
  font-size: 1.2rem;
  font-weight: bold;
}

.main-icon {
  font-size: 4rem;
}

.main-btn {
  font-size: 2rem;
  background-color: #ec5242;
  border: none;
  width: 25rem;
  height: 5rem;
  color: #fff;
  cursor: pointer;
}

/* Exhibition Sections */

.exhib-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0.5rem;
  margin-right: auto;
  margin-left: auto;
}

.exhib-sections .title,
.exhib-section-title {
  color: #272a31;
}

.exhib-section-list {
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.exhib-section-item {
  display: grid;
  grid-template-columns: 7rem 1fr;
  grid-gap: 2rem;
}

.exhib-section-img-div {
  height: 7rem;
  width: 7rem;
}

.exhib-section-img {
  max-height: 100%;
  max-width: 100%;
}

.exhib-section-content-div {
  display: flex;
  flex-direction: column;
}

.exhib-section-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  color: #272a31;
}

.exhib-section-brief {
  font-size: 1rem;
  font-style: italic;
  color: #ec5242;
  margin-bottom: 0.7rem;
}

.exhib-section-description {
  font-size: 1rem;
}
