* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  color: #414141;
  width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.big-title-bar {
  height: 2px;
  width: 50px;
  background-color: #ec5242;
  border: #ec5242;
  border-radius: 25px;
  margin-bottom: 3rem;
}

.small-title-bar {
  height: 2px;
  width: 20px;
  background-color: #ec5242;
  border: #ec5242;
  border-radius: 25px;
  margin-bottom: 3rem;
}

.wrapper {
  background-image: url('../resources/360_F_355140486_LyyicONTn315Xs5nauDWCoL6n6ah2OxE.jpg');
  display: flex;
  flex-direction: column;
}

.header {
  width: 95vw;
  margin-left: auto;
  margin-top: 1rem;
}

.menu-button-mobile {
  border: none;
  background: none;
  font-size: 3rem;
  cursor: pointer;
}

.top-nav-ul {
  display: none;
}

.main-nav-list {
  display: none;
}

.mobile-nav-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  border-right: 2rem solid #ec5242;
  z-index: 1;
  padding-top: 2rem;
}

.mobile-nav-div ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5rem;
  padding-left: 20%;
  height: 40%;
}

.mobile-nav-div ul li a:link,
.mobile-nav-div ul li a:visited {
  font-size: 2rem;
  color: #d3d3d3;
  text-decoration: none;
}

.mobile-nav-div ul li a:active {
  color: #ec5242;
}

.mobile-nav-div ul li {
  padding-bottom: 2rem;
}

.hide {
  display: none;
}

.close-icon {
  float: right;
  margin-right: 10%;
  margin-top: 0;
  cursor: pointer;
  color: #ec5242;
  font-size: large;
}

.home-div {
  display: none;
}

.event-brif {
  width: 90vw;
  margin: 4rem 1rem 7rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.event-about {
  margin: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.event-title-main {
  color: #ec5242;
  font-size: 1.7rem;
}

.event-title-second {
  color: #ec5242;
  font-size: 3rem;
  font-weight: bold;
  line-height: 2.8rem;
  margin-bottom: 4rem;
}

.event-description {
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 3rem;
  border: 1px solid #b39200;
}

.event-date {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.event-location {
  font-size: 1.5rem;
}

.display-small-bar {
  display: none;
}

.about-parag {
  font-size: 1.5rem;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  border: 1px solid #b39200;
  background-color: #ffaf014b;
}

.about-parag-contact {
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.email:link,
.email:visited {
  color: initial;
}

.email:hover,
.email:active {
  color: initial;
  text-decoration: none;
}

.company-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 3rem;
}

.company-about-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #272a31;
}

.logo {
  background-color: #333;
  margin: 0 1rem;
  width: 25rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.huge-bar {
  display: none;
}

.past-exhibition-title {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  color: #272a31;
}

.imgs-container-div {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.img-container-div {
  position: relative;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ec5342c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  cursor: pointer;
}

.layer h3 {
  color: #fff;
  font-size: 4rem;
}

.layer p {
  color: #fff;
  font-size: 2rem;
}

.past-exhib-img {
  width: 100%;
  height: auto;
}

.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0.7rem;
  width: 100%;
  margin: 0;
  margin-bottom: 3rem;
  color: #d3d3d3;
  background-color: #272a31;
}

.main-program-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  width: 97%;
  margin-bottom: 4rem;
}

.main-program-item {
  align-self: stretch;
  display: grid;
  grid-template-columns: 6rem 7.5rem 1fr;
  place-items: center;
  text-align: center;
  padding: 0.5rem;
  background-color: #3d3d3d;
  cursor: pointer;
}

.main-program-item h4 {
  color: #ec5242;
  font-size: 1.2rem;
  font-weight: bold;
}

.main-icon {
  font-size: 4rem;
}

.main-btn {
  font-size: 2rem;
  background-color: #ec5242;
  border: none;
  width: 25rem;
  height: 5rem;
  color: #fff;
  cursor: pointer;
}

.see-program {
  display: none;
}

.exhib-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem 4rem 5rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
}

.exhib-sections .title,
.exhib-section-title {
  color: #272a31;
}

.exhib-section-list {
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 3rem;
}

.exhib-section-item {
  display: grid;
  grid-template-columns: 7rem 1fr;
  grid-gap: 2rem;
}

.exhib-section-img-div {
  position: relative;
  height: 7rem;
  width: 7rem;
  z-index: 1;
}

.pattern-div {
  background:
    linear-gradient(315deg, transparent 75%, #d45d55 0) -10px 0,
    linear-gradient(45deg, transparent 75%, #d45d55 0) -10px 0,
    linear-gradient(135deg, #a7332b 50%, transparent 0) 0 0,
    linear-gradient(45deg, #6a201b 50%, #561a16 0) 0 0 #561a16;
  background-size: 20px 20px;
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: -25%;
  left: -25%;
  z-index: -1;
}

.exhib-section-img {
  max-height: 100%;
  max-width: 100%;
}

.exhib-section-content-div {
  display: flex;
  flex-direction: column;
}

.exhib-section-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  color: #272a31;
}

.exhib-section-brief {
  font-size: 1rem;
  font-style: italic;
  color: #ec5242;
  margin-bottom: 0.7rem;
}

.exhib-section-description {
  font-size: 1rem;
}

.opening-footer {
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.footer-title {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #d3d3d3;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.partner {
  font-size: 1.9rem;
  color: #d3d3d3;
}

.closing-footer {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
}

.closing-footer h3 {
  font-size: 1.4rem;
  margin-right: 1rem;
}

.logo-footer {
  max-height: 100%;
  margin-left: 1rem;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .big-title-bar {
    height: 2px;
    width: 50px;
    background-color: #ec5242;
    border: #ec5242;
    border-radius: 25px;
    margin-bottom: 3rem;
  }

  .header {
    width: 100vw;
    margin-top: 0;
    background-color: #ffaf014b;
    padding-right: 10%;
    border-bottom: 1px solid #b39200;
  }

  .main-nav {
    width: 100vw;
  }

  .top-nav-ul {
    width: 100%;
    height: 3rem;
    background-color: #272a31;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 12%;
  }

  .top-nav-li-anchor:link,
  .top-nav-li-anchor:visited {
    font-size: 1.2rem;
    color: #d3d3d3;
    text-decoration: none;
  }

  .menu-button-mobile {
    display: none;
  }

  .main-nav-list {
    display: grid;
    grid-template-columns: 30% 55% 15%;
    padding-right: 10%;
    place-items: center;
  }

  .logo-header-figure {
    padding-left: 10%;
    padding-right: 10%;
    width: 7rem;
    cursor: pointer;
    background-color: #333;
  }

  .logo-header-img {
    width: 100%;
  }

  .inner-nav-parent {
    width: 100%;
    padding-right: 8rem;
    display: flex;
    justify-content: flex-end;
  }

  .inner-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-size: 1.7rem;
  }

  .menu-btn {
    color: inherit;
    text-decoration: none;
  }

  .menu-btn:hover,
  .menu-btn:active {
    border-bottom: 1px solid #ec5242;
    color: #ec5242;
  }

  .active {
    color: #ec5242;
  }

  .header-btn {
    font-size: 1.7rem;
    color: #ec5242;
    border: 4px solid #ec5242;
    padding: 5px;
    cursor: pointer;
    background-color: inherit;
    white-space: nowrap;
  }

  .event-brif {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .event-title-main {
    color: #ec5242;
    font-size: 3.7rem;
    margin-bottom: 1rem;
  }

  .event-about-title-main {
    display: none;
  }

  .event-title-second {
    color: #ec5242;
    font-size: 6rem;
    font-weight: 900;
    width: 80%;
    line-height: 6rem;
    margin-bottom: 4rem;
  }

  .event-description {
    font-size: 1.3rem;
    padding: 3rem;
    margin-bottom: 6rem;
    border: 1px solid #b39200;
    width: 70%;
    color: #535353;
  }

  .event-date {
    color: #535353;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  .event-location {
    color: #535353;
    font-size: 2rem;
    margin-bottom: 8rem;
  }

  .event-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .event-about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5rem;
    margin-top: 10rem;
    margin-left: 0;
    margin-right: 0;
  }

  .home-div {
    display: block;
    position: absolute;
    top: -20%;
    right: 20%;
  }

  .home-anchor:link,
  .home-anchor:visited {
    text-decoration: none;
    color: inherit;
    font-size: 1.7rem;
  }

  .home-anchor:hover,
  .home-anchor:active {
    border-bottom: 1px solid #ec5242;
  }

  .small-arrow {
    color: #ec5242;
  }

  .display-small-bar {
    display: block;
  }

  .about-parag {
    color: #535353;
    font-size: 1.3rem;
    width: 100%;
    padding: 3rem;
    margin-bottom: 4rem;
    border: 1px solid #b39200;
    background-color: #ffaf014b;
  }

  .about-parag-contact {
    color: #535353;
    font-size: 1.3rem;
    padding: 3rem;
    width: 100%;
  }

  .email:link,
  .email:visited {
    color: initial;
  }

  .email:hover,
  .email:active {
    color: initial;
    text-decoration: none;
  }

  .main-program {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    color: #d3d3d3;
    background-color: #272a31;
  }

  .main-program-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    margin-bottom: 4rem;
  }

  .main-program-item {
    display: flex;
    flex-direction: column;
    background-color: #3d3d3d;
    flex: 1 1 0;
    width: 0;
    padding-bottom: 2rem;
  }

  .main-icon {
    font-size: 5rem;
    margin-bottom: 10px;
  }

  .main-program-item h4 {
    color: #ec5242;
    font-size: 1.7rem;
    font-weight: bold;
  }

  .main-program-item p {
    font-size: 1.4rem;
    margin-top: 2.3rem;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
  }

  .main-btn {
    display: none;
  }

  .see-program:link,
  .see-program:visited {
    display: block;
    color: inherit;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }

  .see-program:hover,
  .see-program:active {
    text-decoration: none;
  }

  .company-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 7rem 10% 10rem 10%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: #ffaf014b;
  }

  .company-about-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #272a31;
  }

  .company-parag {
    padding-top: 0;
  }

  .logo {
    border: none;
    background-color: #333;
    margin: 0 1rem;
    width: 25rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .huge-bar {
    display: block;
    height: 1px;
    width: 150%;
    background-color: #b39200;
    border: #b39200;
    border-radius: 25px;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .past-exhibition-title {
    font-size: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    color: #272a31;
  }

  .imgs-container-div {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .img-container-div {
    position: relative;
    height: 100%;
  }

  .past-exhib-img {
    width: 100%;
    height: auto;
  }

  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ec5342c0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    cursor: pointer;
  }

  .layer h3 {
    color: #fff;
    font-size: 4rem;
  }

  .layer p {
    color: #fff;
    font-size: 2rem;
  }

  .exhib-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    padding-left: 10%;
    padding-right: 10%;
  }

  .exhib-sections .title,
  .exhib-section-title {
    color: #272a31;
  }

  .exhib-section-list {
    width: 100%;
    margin-top: 4rem;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
    grid-row-gap: 4rem;
    grid-column-gap: 7rem;
    align-items: start;
  }

  .exhib-section-item {
    display: grid;
    grid-template-columns: 12rem 1fr;
    grid-gap: 2rem;
  }

  .exhib-section-img-div {
    height: 12rem;
    width: 12rem;
  }

  .exhib-section-img {
    max-height: 100%;
    max-width: 100%;
  }

  .exhib-section-content-div {
    display: flex;
    flex-direction: column;
  }

  .exhib-section-title {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
    color: #272a31;
  }

  .exhib-section-brief {
    font-size: 1.4rem;
    font-style: italic;
    color: #ec5242;
    margin-bottom: 0.7rem;
  }

  .exhib-section-description {
    font-size: 1.4rem;
  }

  .opening-footer {
    padding-top: 2rem;
    padding-bottom: 5rem;
  }

  .opening-footer-about {
    display: none;
  }

  .footer-title {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #d3d3d3;
  }

  .closing-footer h3 {
    font-size: 1.7rem;
  }

  .rights {
    font-size: 1.3rem;
    margin-right: 1rem;
    color: #d3d3d3;
  }

  .closing-footer-about {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #000;
  }

  .logo-footer {
    max-height: 100%;
    margin-left: 1rem;
  }
}
